.headers {
	font-family: 'Moonstone Miso';
	font-size: 37.5px !important;
	height: 60px !important;
}

.light_off {
    background-image: url(images/light_off.png);
    background-size: 32px 32px;
}

.red_light_on {
    background-image: url(images/red_light_on.png);
    background-size: 32px 32px;
}

.green_light_on {
    background-image: url(images/green_light_on.png);
    background-size: 32px 32px;
}

.horizontaldistribute {
	display: flex;
	justify-content: space-between;
}

.textbox {
	margin: 1ex;
	font-size: 12pt;
	overflow-y: scroll;
}

.tape {
	background-image: url(images/tapereader.png);
	background-repeat: repeat-y;
	background-size: contain;
	border-style: solid;
	border-color: black;
	border-width: 2px 1px;
	bottom: 3px;
	overflow-y: scroll;
	resize: none;
	font-size: 14pt;
}

.tapescontainer {
	overflow-x: hidden;
}

.evenspaced {
	margin: auto;
	margin-top: 10.5px;
	margin-bottom: 10.5px;
}