* {
	box-sizing: border-box;
}

.panels-sample-wide {
	width: 600px;
}
.max-h {
	height:100%;
}

.samplebox {
	padding:15px;
	background:url(images/tapereader.png);
	background-size:128px 356px;
	font-size: 13px;
	background-repeat:no-repeat;
	border: 0px;
	padding-left: 25px;
	color: black;
}

.samplebox:hover {
	padding:15px;
	background:url(images/tapereaderhover.png);
	background-size:128px 356px;
	font-size: 13px;
	background-repeat:no-repeat;
	border: 0px;
	padding-left: 25px;
	color: black;
}
.samplebox:active {
	padding:15px;
	background:url(images/tapereader.png);
	background-size:128px 356px;
	font-size: 13px;
	background-repeat:no-repeat;
	border: 3px solid #cf0652;
	padding-left: 25px;
	color: black;
}

.mouseover {
	background:none;
	color: #a6a6a6;
	vertical-align:middle;
}

.mouseover:hover {
	background:#cf0652;
	color: #ffffff;
	vertical-align:middle;
}

.mouseover:active {
	background:none;
	color: #a6a6a6;
	border: 5px solid #cf0652;
	vertical-align:middle;
}

.center {
	display:table-cell;
}

.ahundredp {
	width:100%;
}

.tapereaderpanel {
	width: 640px;
	height: 572px;
}

.tapereaderimage {
	width: 128px;
	height: 300px;
}

.closetohundred {
	width: 97%;
}

.fontsize {
	font-size: 16px;
	align: center;
	padding-left: 25px;
}

.tblcell {
	font-size:22px;
	height:25px;
	width:100%;
	border:1px solid white;
	background: #000;
	text-align:center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.dekcell {
	font-size:22px;
	height:25px;
	width:125px;
	border:1px solid white;
	background: #000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.acc {
	height:25px;
	width:230px;
	top: 841;
	left: 1065;
	border:1px solid white;
	background: #000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:22px;
}
.space {
	width: 834px;
	height: 25px;
}

.dek {
	height:20px;
	width:14px;
	display:table-cell;
	vertical-align:middle;
	text-align: center;
}
.highlight {
	position: absolute;
	top: 113px;
	left: 17px;
	width: 608px;
	height: 21px;
	opacity: 0.5;
	border: 1px solid #6F687D;
	background: #6F687D;
	z-index: 2;
	pointer-events:none;
}
.chkbox {
	font-size: 30px;
	width: 114px!important;
	display: table-cell;
}
.printer {
	width: 520px;
	height: 412px;
	font-size: 8px;
	font-family: "Courier New", Courier, monospace;
	white-space: nowrap;
}
textarea {
	font-family: "Courier New", Courier, monospace, bold;
}

.headers {
	font-family: 'Moonstone Miso';
	font-size: 37.5px !important;
	height: 60px !important;
}

.light_off {
    background-image: url(images/light_off.png);
    background-size: 32px 32px;
}

.alarm_light_on {
    background-image: url(images/light_on.png);
    background-size: 32px 32px;
}

.finish_light_on {
    background-image: url(images/finish_light_on.png);
    background-size: 32px 32px;
}